[Desktop Entry]
Version=2.0
Name=Download Accelerator
Exec=downloadaccelerator
Terminal=false
Icon=${SNAP}/meta/gui/daclogo.png
Type=Application
GenericName=Download Accelerator
Comment=A free tool to structure and organise your information with mind mapping
Keywords=Mindmaps; Knowledge management; Organize information; Brainstorming;
